* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  padding: 180px 0 100px 0;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 524px;
  min-height: 700px;
  background: #122329;
  text-align: center;
  margin: 0px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todolist-container {
  margin: auto;
  text-align: center;
  width: 60%;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #2a14ec;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e285;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(27, 88, 201) 0%,
    rgb(75, 0, 250) 100%
  );
  color: #fff;
  text-transform: capitalize;
  opacity:0.8;
}

.todo-button:hover{
  transition: all 0.3s;
  opacity: 1;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(29, 131, 172) 0%,
    rgb(22, 110, 161) 100%
  );
  background: rgb(22, 110, 161);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:hover{
  opacity:1;
  transition: all 0.2s;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(89, 181, 197) 0%,
    rgb(114, 188, 223) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(118, 201, 207) 0%,
    rgb(143, 202, 204) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(14, 109, 177) 0%,
    rgb(37, 98, 179) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.todo-text{
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
.todo-desc{
  font-size:12px;
  padding-top:10px;
  text-align:left;
}